[Unit]
Description=Metal Flask Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/compass/metal
Environment="FLASK_ENV=production"
ExecStart=uv run --with gunicorn gunicorn --workers 1 --bind 0.0.0.0:5000 metal.app:app

[Install]
WantedBy=multi-user.target